services:
  web:
    build: web
    environment:
      - FLASK_SECRET_KEY
      - DB_HOST=database
      - DB_USER=root
      - DB_PASS
      - DB_NAME=mwahaha
    volumes:
      - ./web/scoring/:/usr/src/app/scoring
