services:
  web:
    build:
      dockerfile: Dockerfile.prod
    environment:
      - SENTRY_DSN
      - VIRTUAL_HOST=thefunnier.com,www.thefunnier.com
      - VIRTUAL_PATH=/
      - LETSENCRYPT_HOST=thefunnier.com,www.thefunnier.com
      - LETSENCRYPT_EMAIL=sacastro@fing.edu.uy
    volumes:
      - ./web/scoring/:/app/scoring
      - ./web/src/mwahahavote/static/scores:/app/src/mwahahavote/static/scores
    networks:
      - net
      - reverse_proxy_net
    restart: always
networks:
  net:
    name: clasificahumor_net
    external: true
  reverse_proxy_net:
    name: clasificahumor_reverse_proxy_net
    external: true
