services:
  web:
    command: 'uvicorn mwahahavote.__main__:app --host :: --port 80 --reload'
    environment:
      - BATTLE_TOKEN_SECRET=MTIzMTIzMTIzMTIzMTIzMTIzMTIzMTIzMTIzMTIzMTI=
      - DB_PASS=123123
      - TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
    ports:
      - '5000:80'
    volumes:
      - ./web/src/:/app/src
    networks:
      - net
  database:
    build: db
    volumes:
      - data:/var/lib/mysql
      - ./web/scoring/:/app/scoring
    networks:
      - net
    environment:
      - MYSQL_ROOT_PASSWORD=123123
      - MYSQL_DATABASE=mwahaha
networks:
  net:
volumes:
  data:
