services:
  web:
    build:
      dockerfile: Dockerfile.prod
    environment:
      - SENTRY_DSN
      - VIRTUAL_HOST=clasificahumor.com,www.clasificahumor.com
      - VIRTUAL_PATH=/mwahaha/
      - VIRTUAL_DEST=/
    networks:
      - net
      - reverse_proxy_net
    restart: always
networks:
  net:
    name: clasificahumor_net
    external: true
  reverse_proxy_net:
    name: clasificahumor_reverse_proxy_net
    external: true
