services:
  web:
    environment:
      - FLASK_APP=src/mwahahavote/__main__.py
      - FLASK_DEBUG=1
      - FLASK_SECRET_KEY=ze4f2fWLmEY9dADjhwvhym3U
      - DB_PASS=123123
    ports:
      - '5000:5000'
    volumes:
      - ./web/src/:/usr/src/app/src
    networks:
      - net
  database:
    build: db
    volumes:
      - data:/var/lib/mysql
      - ./web/scoring/:/usr/src/app/scoring
    networks:
      - net
    environment:
      - MYSQL_ROOT_PASSWORD=123123
      - MYSQL_DATABASE=mwahaha
networks:
  net:
volumes:
  data:
