services:
  web:
    command: 'uv run uvicorn mwahahavote.__main__:app --host :: --port 80 --reload'
    environment:
      - DB_PASS=123123
    ports:
      - '5000:80'
    volumes:
      - ./web/src/:/app/src
    networks:
      - net
  database:
    build: db
    volumes:
      - data:/var/lib/mysql
      - ./web/scoring/:/app/scoring
    networks:
      - net
    environment:
      - MYSQL_ROOT_PASSWORD=123123
      - MYSQL_DATABASE=mwahaha
networks:
  net:
volumes:
  data:
