body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  position: relative;
}

.main-content {
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 50px;
}

#home-content {
  clear: both;
  text-align: center;
}

h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

#task-container {
  align-items: center;
  flex-direction: row;
  display: inline-flex;
  text-align: center;
}

#task-label {
  color: gray;
  font-weight: 400;
  margin: 10px;
}

#task {
  max-width: fit-content;
}

#prompt {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 15px auto 0 auto;
  padding: 5px 20px 5px 20px;
  vertical-align: middle;
}

.prompt-label {
  color: gray;
}

#prompt-image {
  height: 300px;
}

#prompt-text {
  color: #1c2022;
  cursor: text;
  font-size: 18px;
  line-height: 1.4;
  margin: auto;
  white-space: pre-wrap;
  width: 100%;
  word-wrap: break-word;
}

#outputs {
  align-items: stretch;
}

.output {
  align-items: center;
  border-radius: 5px;
  border: 1px solid #e1e8ed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 30px auto;
  padding: 5px 20px 20px 20px;
  vertical-align: middle;
}

.output-label {
  color: gray;
}

.output-text {
  color: #1c2022;
  cursor: text;
  font-size: 18px;
  font-style: italic;
  line-height: 1.4;
  white-space: pre-wrap;
  width: 100%;
  word-wrap: break-word;
}

#form-container {
  display: inline-grid;
  text-align: left;
}

#answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.answer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 20px 20px 20px;
}

.btn-answer {
  min-width: 100px;
}

/*#humor:focus,*/
/*#humor:hover,*/
/*#humor:active,*/
/*#humor.active.focus,*/
/*#humor.active:focus,*/
/*#humor.active:hover,*/
/*#humor:active.focus,*/
/*#humor:active:focus,*/
/*#humor:active:hover,*/
/*.open > .dropdown-toggle#humor.focus,*/
/*.open > .dropdown-toggle#humor:focus,*/
/*.open > .dropdown-toggle#humor:hover {*/
/*  background-color: #fafafa;*/
/*  border-color: #ddd;*/
/*  box-shadow: none;*/
/*  color: #333;*/
/*  cursor: default;*/
/*  outline: none;*/
/*}*/

button.no-hover:hover {
  background-color: #fff;
  border-color: #ccc;
  color: #333;
  transition-delay: 75ms;
}

.is-offensive-label {
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.is-offensive {
  vertical-align: top;
}

#about-us-content {
  display: none;
}

footer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

#social-buttons-container {
  margin-bottom: 6px;
}

.fb-share-button {
  margin-bottom: 3px;
  margin-right: 3px;
  vertical-align: bottom;
}

.fb_iframe_widget_fluid {
  display: inline-block !important;
}

.twitter-share-button {
  margin-bottom: 3px;
  vertical-align: bottom;
}

.wa_btn {
  display: none;
  vertical-align: bottom;
}
